.nublock-properties-dark-1-icon {
  height: 110px;
  width: 411px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  max-width: 100%;
}
.footer-higher-divider {
  align-self: stretch;
  width: 563px;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 0;
  box-sizing: border-box;
}
.footer-higher-divider,
.nav-header,
.nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}
.nav-options {
  height: 177px;
  flex: 1;
  justify-content: flex-start;
}
.nav-header {
  align-self: stretch;
  height: 309px;
  justify-content: center;
  padding: 82px 2px 50px;
  box-sizing: border-box;
}
.management-reinvented {
  color: var(--brand-colour);
}
.hero-strapline {
  margin: 0;
  width: 100%;
  position: relative;
  font-size: inherit;
  letter-spacing: -1px;
  line-height: 90px;
  text-transform: capitalize;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 720px;
}
.hero-strapline1,
.phone-container {
  position: relative;
  font-size: var(--font-size-5xl);
}
.hero-strapline1 {
  width: 100%;
  text-transform: capitalize;
  font-weight: 300;
  display: inline-block;
  max-width: 584px;
}
.phone-container {
  font-family: var(--font-inter);
  color: var(--tile-colour);
  text-align: left;
}
.arrow-sm-right-svgrepocom-icon {
  height: 25px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.book-now-button {
  cursor: pointer;
  border: 0;
  padding: 19.999998092651367px 28.999996185302734px;
  background-color: var(--brand-colour);
  border-radius: var(--br-105xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3.999999761581421px;
  white-space: nowrap;
}
.book-now-button:hover {
  background-color: var(--color-sienna);
}
.hero,
.hero-content-container,
.overview-title-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.hero-content-container {
  width: 720px;
  flex-direction: column;
  gap: 29.721832275390625px;
  max-width: 750px;
  min-height: 715px;
}
.hero,
.overview-title-text {
  max-width: 100%;
}
.hero {
  align-self: stretch;
  flex-direction: row;
  padding: 19.999998092651367px var(--padding-xl) 19.999998092651367px
    var(--padding-41xl);
  box-sizing: border-box;
  gap: 9.999999046325684px;
}
.overview-title-text {
  flex: 1;
  flex-direction: column;
  min-width: 800px;
}
.book-now-text {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
}
.arrow-sm-right-svgrepocom-icon1 {
  height: 25px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.book-now-button1 {
  height: 69px;
  border-radius: var(--br-105xl);
  background-color: var(--tile-colour);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19.999998092651367px 28.999996185302734px;
  box-sizing: border-box;
  gap: 3.999999761581421px;
  white-space: nowrap;
}
.nav-header1,
.property-listing {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.nav-header1 {
  height: 910px;
  flex: 0.9375;
  border-radius: 0 0 0 64px;
  justify-content: flex-end;
  padding: 29.999998092651367px;
  box-sizing: border-box;
  background-image: url(./public/navheader@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-width: 600px;
  margin-left: -4px;
  font-size: var(--font-size-5xl);
  color: var(--secondary-text-colour);
}
.property-listing {
  align-self: stretch;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  font-size: 96px;
  color: var(--text-colour);
  font-family: var(--font-inter);
}
.done-with-inexperienced {
  margin: 0;
  font-weight: 800;
}
.let-our-15 {
  margin: 0;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.s-v-g-container {
  align-self: stretch;
  height: 162px;
  position: relative;
  line-height: 64px;
  display: inline-block;
  flex-shrink: 0;
}
.overview-title-highlight-icon {
  width: 100%;
  height: 3px;
  position: relative;
  max-width: 385px;
  overflow: hidden;
  flex-shrink: 0;
}
.overview-title-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 1200px;
  text-align: center;
  font-size: 36px;
  color: var(--text-colour);
  font-family: var(--font-inter);
}
.divider {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 64px;
  font-weight: 800;
  font-family: inherit;
}
.overview-title-container1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.hero-strapline2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  text-transform: capitalize;
  font-weight: 300;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
  max-width: 1000px;
}
.overview-title-text1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 64px;
  font-weight: 800;
  font-family: inherit;
  color: var(--brand-colour);
}
.footer-details,
.location-container,
.phone-container1 {
  position: relative;
  line-height: 64px;
  font-weight: 600;
}
.location-container,
.phone-container1 {
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.location-container {
  align-self: stretch;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.phone-container-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 158px;
  font-size: var(--font-size-5xl);
}
.secondary-overview-title-text {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  font-size: var(--font-size-45xl);
}
.logo-container {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  font-weight: 800;
}
.vector-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.tick-circles-s {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  max-width: calc(100% - 32px);
}
.frame-overview-title {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon1 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text2 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  white-space: pre-wrap;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon2 {
  height: 20px;
  width: 20px;
  position: relative;
}
.frame {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.frametickcirclesvgrepocom {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon3 {
  height: 20px;
  width: 20px;
  position: relative;
}
.rectangle-button {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon4 {
  height: 20px;
  width: 20px;
  position: relative;
}
.frametickcirclesvgrepocomoverv {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.arrowright-s-v-g {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon5 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text3 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  max-width: calc(100% - 32px);
}
.vector-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.book-now-text1 {
  position: relative;
}
.arrow-sm-right-svgrepocom-icon2 {
  height: 25px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.book-now-button2 {
  border-radius: var(--br-105xl);
  background-color: var(--brand-colour);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19.999998092651367px 28.999996185302734px;
  gap: 3.999999761581421px;
  white-space: nowrap;
  cursor: pointer;
}
.footer-links,
.overview-title-container3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.footer-links {
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl) 0;
  font-size: var(--font-size-5xl);
  color: var(--tile-colour);
}
.overview-title-container3 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.overview-title-container2 {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--tile-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xl) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 300px;
  max-width: 100%;
}
.overview-title-text4 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 64px;
  font-weight: 800;
  font-family: inherit;
}
.frame1,
.frame2,
.frame3 {
  position: relative;
  line-height: 64px;
  font-weight: 600;
}
.frame2,
.frame3 {
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.frame3 {
  align-self: stretch;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.frame-parent,
.inner-frames {
  display: flex;
  justify-content: flex-start;
}
.inner-frames {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  min-width: 149px;
  font-size: var(--font-size-5xl);
}
.frame-parent {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
  font-size: var(--font-size-45xl);
}
.frame4 {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  font-weight: 800;
}
.address-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text5 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.book-now-button3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.telephone-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.frame5 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  max-width: calc(100% - 32px);
}
.telephone-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.connect-icons {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text6 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.connect-icons-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.contact-address-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text7 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.contact-address-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.customer-service-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text8 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.customer-service-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.social-links-icon {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text9 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.social-links-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon6 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text10 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  max-width: calc(100% - 32px);
}
.book-now-button4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.book-now-text2 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--text-colour);
  text-align: left;
}
.arrow-sm-right-svgrepocom-icon3 {
  height: 25px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.book-now-button-wrapper,
.book-now-button5 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-now-button5 {
  cursor: pointer;
  border: 0;
  padding: 19.999998092651367px 28.999996185302734px;
  background-color: var(--tile-colour);
  border-radius: var(--br-105xl);
  flex-direction: row;
  gap: 3.999999761581421px;
  white-space: nowrap;
}
.book-now-button5:hover {
  background-color: #e6e6e6;
}
.book-now-button-wrapper {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-5xl) 0;
}
.overview-title-container4,
.overview-title-container5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.overview-title-container5 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.overview-title-container4 {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--brand-colour);
  align-items: center;
  padding: var(--padding-5xl) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 300px;
  color: var(--tile-colour);
}
.overview-title-text11 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xl);
  line-height: 64px;
  font-weight: 800;
  font-family: inherit;
  color: var(--brand-colour);
}
.overview-title-text12,
.overview-title-text13,
.overview-title-text14 {
  position: relative;
  line-height: 64px;
  font-weight: 600;
}
.overview-title-text13,
.overview-title-text14 {
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.overview-title-text14 {
  align-self: stretch;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.overview-title-text-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 148px;
  font-size: var(--font-size-5xl);
}
.overview-title-text-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--font-size-45xl);
}
.overview-title-text15 {
  align-self: stretch;
  position: relative;
  line-height: 27px;
  font-weight: 800;
}
.vector-icon7 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text16 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.frame-div {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon8 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text17 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon9 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text18 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon10 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text19 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent3 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon11 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text20 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon12 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text21 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent5 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.vector-icon13 {
  height: 20px;
  width: 20px;
  position: relative;
}
.overview-title-text22 {
  flex: 1;
  position: relative;
  line-height: 27px;
  font-weight: 800;
  display: inline-block;
  min-width: 216px;
  max-width: 100%;
}
.vector-parent6 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  max-width: 100%;
}
.book-now-text3 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--tile-colour);
  text-align: left;
}
.arrow-sm-right-svgrepocom-icon4 {
  height: 25px;
  width: 34px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.book-now-button-container,
.book-now-button6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.book-now-button6 {
  cursor: pointer;
  border: 0;
  padding: 19.999998092651367px 28.999996185302734px;
  background-color: var(--brand-colour);
  border-radius: var(--br-105xl);
  flex-direction: row;
  gap: 3.999999761581421px;
  white-space: nowrap;
}
.book-now-button6:hover {
  background-color: var(--color-sienna);
}
.book-now-button-container {
  align-self: stretch;
  flex-direction: column;
  padding: var(--padding-5xl) 0;
}
.overview-title-container6,
.overview-title-container7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.overview-title-container7 {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-xs);
}
.overview-title-container6 {
  flex: 1;
  border-radius: var(--br-13xl);
  background-color: var(--tile-colour);
  align-items: center;
  padding: var(--padding-5xl) var(--padding-17xl);
  box-sizing: border-box;
  min-width: 300px;
}
.icon-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: 40px 44px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-lg);
}
.footer-frame {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px var(--padding-41xl);
  box-sizing: border-box;
  gap: 80px;
  background-image: url(./public/footer-frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  max-width: 1520px;
  text-align: center;
  font-size: 54px;
  color: var(--text-colour);
  font-family: var(--font-inter);
}
.footer-higher-divider1 {
  align-self: stretch;
  height: 1px;
  background-color: var(--brand-colour);
  overflow: hidden;
  flex-shrink: 0;
}
.nublock-properties-dark-1-icon1 {
  width: 237px;
  height: 63px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.nublock-properties-ltd-1541901 {
  text-decoration: underline;
}
.nublock-properties-ltd-154190 {
  color: inherit;
}
.nublock-group1 {
  text-decoration: underline;
}
.nublock-group {
  color: inherit;
}
.nublock-properties-ltd-154190-container {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.logo-container1 {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  min-width: 240px;
  max-width: 100%;
}
.location-icon-container {
  height: 19.5px;
  width: 14px;
  position: relative;
  object-fit: cover;
  min-height: 20px;
}
.location-text {
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: calc(100% - 35px);
}
.location-container1 {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  max-width: 400px;
  flex-shrink: 0;
}
.phone-icon {
  width: 18px;
  height: 18px;
  position: relative;
}
.phone-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.div {
  flex: 1;
  position: relative;
  display: inline-block;
  min-width: 85px;
  cursor: pointer;
}
.phone-container2 {
  width: 185px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 130px;
}
.fax-icon-container {
  height: 24px;
  width: 24px;
  position: relative;
  object-fit: cover;
}
.fax-text {
  position: relative;
  display: inline-block;
  min-width: 85px;
  cursor: pointer;
}
.fax-container {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
  min-width: 130px;
}
.contact-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 400px;
  gap: var(--gap-17xs);
}
.facebook-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.facebook-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.twitter-icon {
  height: 15px;
  width: 18px;
  position: relative;
}
.twitter-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.linkedin-icon {
  height: 16px;
  width: 18px;
  position: relative;
}
.linkedin-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.youtube-icon {
  height: 13px;
  width: 18px;
  position: relative;
}
.youtube-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.insta-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.insta-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.google-plus-icon {
  height: 11px;
  width: 18px;
  position: relative;
}
.google-plus-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.pinterest-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.pinterest-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.rss-icon {
  height: 18px;
  width: 18px;
  position: relative;
}
.rss-icon-container {
  align-self: stretch;
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}
.footer-links1,
.social-media-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.social-media-container {
  width: 903px;
  height: 18px;
  align-items: center;
  gap: 39px;
  max-width: 150%;
  flex-shrink: 0;
}
.footer-links1 {
  height: 99px;
  width: 600px;
  align-items: flex-start;
  gap: 28px;
  min-width: 240px;
  max-width: 620px;
  color: var(--text-colour);
}
.footer-details1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  gap: var(--gap-17xs);
}
.footer-lower-divider {
  align-self: stretch;
  height: 1px;
  background-color: var(--brand-colour);
  overflow: hidden;
  flex-shrink: 0;
}
.footer-container,
.footer-content {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
}
.footer-content {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-xl);
  gap: 65px;
  flex-shrink: 0;
}
.footer-container {
  align-self: stretch;
  height: 431px;
  background-color: var(--tile-colour);
  flex-direction: row;
  justify-content: center;
  padding: 100px var(--padding-41xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: #000;
  font-family: var(--font-assistant);
}
.frame-container {
  width: 100%;
  position: relative;
  background-color: var(--background-colour);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 72px;
  letter-spacing: normal;
}
@media screen and (max-width: 1575px) {
  .footer-frame {
    max-width: 100%;
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 1250px) {
  .nav-header1 {
    width: calc(100% - 40px);
  }
  .container,
  .overview-title-container {
    max-width: 100%;
  }
  .overview-title-container4,
  .overview-title-container6 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .footer-frame {
    padding: 52px var(--padding-11xl);
    box-sizing: border-box;
  }
  .footer-details1 {
    max-width: 100%;
  }
  .footer-container {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
  }
  .frame-container {
    gap: 36px 72px;
  }
}
@media screen and (max-width: 825px) {
  .nav-options {
    gap: 35px 17px;
  }
  .hero-strapline {
    font-size: 48px;
    line-height: 54px;
    max-width: 100%;
  }
  .hero-content-container,
  .hero-strapline1 {
    max-width: 100%;
  }
  .hero {
    padding-left: var(--padding-11xl);
    box-sizing: border-box;
  }
  .divider {
    font-size: 43px;
    line-height: 51px;
  }
  .footer-details {
    font-size: var(--font-size-32xl);
    line-height: 51px;
  }
  .overview-title-container2 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .frame1,
  .overview-title-text12 {
    font-size: var(--font-size-32xl);
    line-height: 51px;
  }
  .icon-container {
    gap: 40px 22px;
  }
  .footer-frame {
    gap: 40px 80px;
    padding-top: var(--padding-15xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .footer-links1 {
    max-width: 100%;
  }
  .footer-content {
    gap: 32px 65px;
  }
  .frame-container {
    gap: 18px 72px;
  }
}
@media screen and (max-width: 450px) {
  .footer-higher-divider {
    gap: 101px 50px;
  }
  .hero-strapline {
    font-size: 29px;
    line-height: 36px;
  }
  .hero-strapline1,
  .s-v-g-container {
    font-size: var(--font-size-lgi);
  }
  .s-v-g-container {
    line-height: 51px;
  }
  .overview-title-highlight-icon {
    max-width: 100%;
  }
  .divider {
    font-size: 32px;
    line-height: 38px;
  }
  .hero-strapline2 {
    font-size: var(--font-size-lgi);
  }
  .overview-title-text1 {
    font-size: var(--font-size-3xl);
    line-height: 51px;
  }
  .footer-details {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .phone-container1 {
    font-size: var(--font-size-lgi);
    line-height: 51px;
  }
  .arrowright-s-v-g,
  .frametickcirclesvgrepocom,
  .secondary-overview-title-text,
  .vector-group,
  .vector-parent {
    flex-wrap: wrap;
  }
  .overview-title-text4 {
    font-size: var(--font-size-3xl);
    line-height: 51px;
  }
  .frame1 {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .frame2 {
    font-size: var(--font-size-lgi);
    line-height: 51px;
  }
  .book-now-button3,
  .connect-icons-parent,
  .contact-address-parent,
  .customer-service-parent,
  .frame-parent,
  .social-links-parent {
    flex-wrap: wrap;
  }
  .overview-title-text11 {
    font-size: var(--font-size-3xl);
    line-height: 51px;
  }
  .overview-title-text12 {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .overview-title-text13 {
    font-size: var(--font-size-lgi);
    line-height: 51px;
  }
  .frame-div,
  .overview-title-text-parent,
  .vector-parent1,
  .vector-parent2,
  .vector-parent3,
  .vector-parent4,
  .vector-parent5,
  .vector-parent6 {
    flex-wrap: wrap;
  }
  .footer-frame {
    gap: 20px 80px;
  }
  .contact-container,
  .location-container1 {
    max-width: 100%;
  }
  .footer-content {
    gap: 16px 65px;
  }
  .footer-container {
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-46xl);
    box-sizing: border-box;
  }
}
